<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bezpieczny Notatnik</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="navbar w-100 shadow">
                    <span class="text-center text-primary font-weight-light font-italic ml-5">BEZPIECZNY NOTATNIK</span>
                    {% if username %}
                    <span class="text-secondary text-right mr-5">Zalogowano jako {{ username }}</span>
                    {% else %}
                    <span class="text-muted text-right mr-5">Zalogowano jako Gość</span>
                    {% endif %}
                </div>
            </div>
            <div class="row">

                <div class="col-sm-2 mt-sm-5 mt-2">
                    <div class="nav flex-column nav-pills">
                        <a href="{{ url_for('index') }}" class="nav-link font-weight-bold border border-primary bg-light text-primary my-1">Strona główna</a>

                        {% if username %}
                        <a href="{{ url_for('logout') }}" class="nav-link  text-light border border-light bg-primary my-1">Wyloguj</a>
                        {% else %}
                        <a href="{{ url_for('login') }}" class="nav-link  text-light border border-light bg-primary my-1">Zaloguj</a>
                        {% endif %}

                        <a href="{{ url_for('signin') }}" class="nav-link  text-light border border-light bg-primary my-1">Zarejestruj się</a>
                    </div>
                </div>
                <div class="col mt-5">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                <div class="text-center alert alert-primary" role="alert">{{msg}}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% if username %}
                    <h4 class="text-center mt-5">Witaj, {{ username }}. Oto twoje notatki:</h4>
                        {% if not notesList %}
                        <div class="mt-4 text-center text-secondary">Twoja lista notatek jest pusta.</div>
                        {% else %}
                        <table class="table justify-content-center mt-5">
                            <thead>
                                <tr>
                                    <th>Nazwa</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                            {% for note in notesList %}
                                <tr>
                                    <td>{{ note['name'] }}</td>
                                    <td><a href="/download/{{ note['file_id'] }}" class="btn btn-outline-primary">Pobierz</a></td>
                                </tr>
                            </tbody>
                            {% endfor %}

                        </table>

                        {% endif %}
                        <form method="post" action="{{ url_for('upload_notes') }}" class="w-100 d-flex justify-content-center mt-5" enctype="multipart/form-data">
                            <div class="row">
                                <input type="file" name="file" class="form-control-file" accept=".txt"/>
                            </div>

                            <div class="row">
                                <input type="submit" class="btn btn-primary mt-1" value="Dodaj notatkę"/>
                            </div>

                        </form>
                    {% else %}
                    <h2 class="text-center mt-5">Bezpieczny Notatnik</h2>
                    <h4 class=" text-center text-secondary mt-2">Prosty i bezpieczny sposób na przechowywanie swoich notatek</h4>
                    {% endif %}
                </div>
            </div>

        </div>
        <footer class="fixed-bottom text-center mb-4">
            <span class="font-italic">Ochrona Danych Projekt</span> - Krzysztof Wilk 284952
        </footer>
    </body>
</html>