<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bezpieczny Notatnik - Rejestracja</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
        <div class="container-fluid">
            <div class="row">
                <div class="navbar w-100 text-secondary shadow justify-content-center">BEZPIECZNY NOTATNIK</div>
            </div>
            <div class="row">
                <div class="col-sm-2 mt-sm-5 mt-2">
                    <div class="nav flex-column nav-pills">
                        <a href="{{ url_for('index') }}" class="nav-link  text-light border border-light bg-primary my-1">Strona główna</a>
                        <a href="{{ url_for('login') }}" class="nav-link font-weight-bold border border-primary bg-light text-primary my-1">Zaloguj</a>
                    </div>
                </div>
                <div class="col mt-5">

                    </div>
                </div>
            </div>
        </div>
        <footer class="fixed-bottom text-center mb-4">
            <span class="font-italic">Ochrona Danych Projekt</span> - Krzysztof Wilk 284952
        </footer>
    </body>
</html>